body {
    position: relative;
    background-repeat: no-repeat;
    background-image: linear-gradient(black 65%, rgb(72, 72, 72));
    background-attachment: fixed;
    text-align: center;
    color: #cfcfcf;
}

.mainContent {
    margin: 15% auto;
    max-width: 1000px;
    position: absolute;
    left: 1%;
    right: 1%;
    animation: content-appear 2s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
    overflow-y: auto;
    scrollbar-width: none;
}

.mainContent::-webkit-scrollbar {
    display: none;
}

#scene-home, #scene-thank-you {
    margin: 15% auto;
}

#scene-line-chart, #scene-map, #scene-bar-chart {
    margin: 3% auto;
}

caption {
    text-align: center;
    width: 100%;
}

strong {
    font-size: xx-large;
}

@keyframes content-appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

rect {
    fill: maroon;
    stroke: #ab4b4b;
}

select {
    font-family: "Times New Roman", Times, serif;
    font-size: 1em;
    color: #cfcfcf;
    background: transparent !important;
}

select {
    border: none;
}

select > option {
    border: 0.1px solid #e4e4e4;
}

@-moz-keyframes content-appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@-webkit-keyframes content-appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.map-tooltip {
    position: absolute;
    color: rgb(67, 224, 255);
    background-color: rgb(155, 26, 155);
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
}

#scene-home > p {
    font-size: 2em;
}

:not(footer) > p {
    font-size: 1.1em;
}

p > b {
    color: #793838;
}

a {
    color: rgba(255, 255, 255, 0.4)
}

a:visited {
    color: #ab4b4b
}

span {
    position: absolute;
}

button {
    background-color: transparent;
    color: #cfcfcf;
    border-radius: 30%;
    border: 2px solid;
    font-size: 3em;
    margin: 20% auto;
    cursor: pointer;
    visibility: visible;
}

button:disabled {
    visibility: hidden;
}

button:hover {
    color: #793838;
    border: 2px solid;
}

#left-arrow {
    float: left;
}

#right-arrow {
    float: right;
}

button:disabled {
    visibility: hidden;
}

footer {
    position: fixed;
    height: 100px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    font-size: 15px;
    animation: footerMove 2s linear forwards;
    text-align: left;
}

@keyframes footerMove {
    from {
        transform: translateY(100px);
    }
    to {
        transform: translateY(0px);
    }
}

@-moz-keyframes footerMove {
    from {
        transform: translateY(100px);
    }
    to {
        transform: translateY(0px);
    }
}


@-webkit-keyframes footerMove {
    from {
        transform: translateY(100px);
    }
    to {
        transform: translateY(0px);
    }
}